*/.idea
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/data-structures-algorithm-dsa-python_javascript_leetcode-course.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/terraform.xml
